<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" th:href="@{/icons/quizlogo99.svg}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link rel="stylesheet" th:href="@{/styles/card.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/profile.css}">
    <title>Card</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="header">
        <div class="logo-box">
            <a th:href="@{/home}">
                <img class="logo" th:src="@{/icons/quizlogo.svg}" alt="Logo">
            </a>
            <div class="logo-name">
                <span class="quiz">QUIZ</span>
                <span class="game">GAME</span>
            </div>
        </div>
        <div class="profile-box">
            <span class="pf-lvl">Lvl - 01</span>
            <div>
                <img class="profile" id="profile" th:src="@{/images/space_man.png}" alt="Profile">
            </div>
        </div>
    </div>
    <div class="profile-container" id="profile-container">
        <div class="top-box">
            <div class="top-lf">Profile</div>
            <div class="top-rg">
                <img class="speaker-icon" th:src="@{/icons/speaker.png}" alt="Speaker icon">
                <a th:href="@{/update_profile}">
                    <img class="edit-icon" th:src="@{/icons/lucide_edit.png}" alt="Edit icon">
                </a>
            </div>
        </div>
        <div class="bottom-box">
            <div class="pf-picture">
                <img th:src="@{/images/space_man.png}" alt="Profile">
            </div>
            <div class="pf-name">Space Man</div>
            <span class="lvl">Level - 01</span>
            <span class="pf-email">spaceman@gmail.com</span>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <a th:href="@{/learning_zone}">
        <div class="back-arr">
            <img class="back-arrow" th:src="@{/icons/back-arrow.png}" alt="Back"> Back
        </div>
    </a>
    <div class="search-box">
        <div class="search-input">
            <input type="text" placeholder="Search card...">
        </div>
        <a th:href="@{/search_card}">
            <div class="search-icon">
                <img th:src="@{/icons/search.png}" alt="Search">
            </div>
        </a>
    </div>
    <a th:href="@{/card_collection}">
        <div class="favorite">
            <span class="tooltip-collection">Card Collection</span>
            <img class="fav-icon" th:src="@{/icons/star.png}" alt="Star">
        </div>
    </a>
    <div class="container">
        <div class="collection">
            <div class="flashcard-set-box" th:each="topic : ${topics}">
                <div class="set-title" th:text="${topic.topicName}"></div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic" th:src="@{/images/car_card.png}" alt="Image">
                                    <div class="star">
                                        <img class="star-icon" th:src="@{/icons/star2.png}" alt="Star">
                                        <img class="star-icon-color" th:src="@{/icons/star.png}" alt="Star">
                                        <span class="tooltip">Add to Collection</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                    <h3>Soccer</h3>
                                    <p>Learn how to create a dynamic carousel slider using Swiper JS...</p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" th:src="@{/images/space_man.png}" alt="Image">
                                    <div class="star">
                                        <img class="star-icon" th:src="@{/icons/star2.png}" alt="Star">
                                        <img class="star-icon-color" th:src="@{/icons/star.png}" alt="Star">
                                        <span class="tooltip">Add to Collection</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                    <h3>Space Man</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic"src="images/car_card.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Collection</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" src="images\space_man.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star.png" alt="star">
                                        <img class="star-icon-color" src="icons/star2.png" alt="star">
                                        <span class="tooltip">Add to Collection</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>    
                                        <!--           
                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic"src="images/car_card.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" src="images\space_man.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic"src="images/car_card.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Collection</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" src="images\space_man.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic"src="images/car_card.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" src="images\space_man.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flashcard" onclick="flipCard(this)">
                            <div class="flashcard-face front">
                                <div class="content-pic">
                                    <img class="pic"src="images/car_card.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                            <div class="flashcard-face back">
                                <div class="content-pic">
                                    <img class="pic" src="images\space_man.png" alt="image">
                                    <div class="star">
                                        <img class="star-icon" src="icons/star2.png" alt="star">
                                        <img class="star-icon-color" src="icons/star.png" alt="star">
                                        <span class="tooltip">Add to Favorite</span>
                                    </div>
                                </div>
                                <div class="text-content">
                                  <h3>Soccer</h3>
                                  <p>
                                    Learn how to create a dynamic carousel slider
                                    using Swiper JS in this tutorial! Explore step-by-step
                                    instructions and code examples to enhance your web development skills.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>  
                     -->
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function flipCard(card) {
            if (card.closest('.swiper-slide').classList.contains('swiper-slide-active')) {
                card.classList.toggle('is-flipped');
            }
        }

        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            spaceBetween: 50,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 60,
                modifier: 3.5,
                slideShadows: false,
            },
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            }
        });
    </script>
        <script>
            const profile = document.getElementById("profile");
            const profileContainer = document.getElementById("profile-container");
            const overlay = document.getElementById("overlay");
            const body = document.body; // Select the body for blurring
        
            profile.addEventListener("click", () => {
                profileContainer.classList.toggle("show");
                overlay.style.display = profileContainer.classList.contains("show") ? "block" : "none";
            });
        
            // Close profile container and remove blur when clicking outside
            document.addEventListener("click", (event) => {
                if (
                    !profile.contains(event.target) &&
                    !profileContainer.contains(event.target)
                ) {
                    profileContainer.classList.remove("show");
                    overlay.style.display = "none";
                }
            });

            const setTitles = document.querySelectorAll('.set-title');

            setTitles.forEach(title => {
                title.addEventListener('click', () => {

                    setTitles.forEach(t=> t.classList.remove('selected'));

                    title.classList.add('selected');
                })
            })
        </script>
</body>

</html>
